#description-content {
  :first-child {
    margin-top: 0;
  }

  /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  ul {
    list-style: outside;
  }

  ol {
    list-style: decimal;
  }

  p {
    @apply text-zinc-500 dark:text-zinc-400;
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
    line-height: 1.25;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Rethink Sans', sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-foreground;
  }

  h1 {
    font-size: 2.25rem;
    /* text-4xl */
  }

  h2 {
    font-size: 1.875rem;
    /* text-3xl */
  }

  h3 {
    font-size: 1.5rem;
    /* text-2xl */
  }

  h4 {
    font-size: 1.25rem;
    /* text-xl */
  }

  h5 {
    font-size: 1.125rem;
    /* text-lg */
  }

  h6 {
    font-size: 1rem;
    /* text-base */
  }

  /* Code and preformatted text styles */
  code {
    background-color: rgb(250 250 250 / 0.1);
    border-radius: 0.4rem;
    color: #fff;
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  /* Link styles */
  a {
    color: #f97316;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      color: #fb923c;
    }
  }

  blockquote {
    border-left: 3px solid #fb923c;
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  hr {
    border: none;
    border-top: 1px solid rgb(250 250 250 / 0.15);
    cursor: pointer;
    margin: 1rem 0;
  }

  mark {
    background-color: #f97316;
    border-radius: 0.4rem;
    box-decoration-break: clone;
    padding: 0.1rem 0.3rem;
    color: #fff;
  }

  pre {
    background: #18181b;
    border-radius: 0.5rem;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 14px;
      padding: 0;
      line-height: 1.65rem;
    }
  }
}