@tailwind base;

@layer base {
  :root {
    --color-foreground: #09090b;
    --color-muted-foreground: #52525b;
    background: #fafafa;

    /* button contrast */
    --p-button-contrast-background: #09090b;
    --p-button-contrast-hover-background: #3f3f46;
    --p-button-contrast-active-background: #3f3f46;
    --p-button-contrast-border-color: #09090b;
    --p-button-contrast-hover-border-color: #3f3f46;
    --p-button-contrast-active-border-color: #3f3f46;
    --p-button-contrast-color: #fafafa;
    --p-button-contrast-hover-color: #fafafa;
    --p-button-contrast-active-color: #fafafa;

    /* button secondary */
    --p-button-secondary-background: #f4f4f5;
    --p-button-secondary-hover-background: #e4e4e7;
    --p-button-secondary-active-background: #d4d4d8;
    --p-button-secondary-border-color: #f4f4f5;
    --p-button-secondary-hover-border-color: #e4e4e7;
    --p-button-secondary-active-border-color: #d4d4d8;
    --p-button-secondary-color: #52525b;
    --p-button-secondary-hover-color: #3f3f46;
    --p-button-secondary-active-color: #262626;

    /* button outlined */
    --p-button-outlined-primary-border-color: #e4e4e7;

    /* input text  */
    --p-inputtext-background: #f4f4f5 !important;
    --p-inputtext-border-color: #e4e4e7 !important;
    --p-inputtext-hover-border-color: #e4e4e7 !important;
    --p-inputtext-focus-border-color: #d4d4d8 !important;
    --p-inputtext-color: #18181b !important;
    --p-inputtext-placeholder-color: #374151 !important;
    --p-inputtext-disabled-color: #374151 !important;

    /* chip */
    --p-chip-background: #f4f4f5 !important;
    --p-chip-color: #27272a !important;

    --p-paginator-background: #f4f4f5 !important;
    --p-paginator-color: #27272a !important;
  }

  :root[class~="dark"] {
    --color-foreground: #fafafa;
    --color-muted-foreground: #a1a1aa;
    background: #09090b;

    /* button contrast */
    --p-button-contrast-background: #fafafa;
    --p-button-contrast-hover-background: #d1d5db;
    --p-button-contrast-active-background: #d1d5db;
    --p-button-contrast-border-color: #fafafa;
    --p-button-contrast-hover-border-color: #d1d5db;
    --p-button-contrast-active-border-color: #d1d5db;
    --p-button-contrast-color: #09090b;
    --p-button-contrast-hover-color: #09090b;
    --p-button-contrast-active-color: #09090b;

    /* button secondary */
    --p-button-secondary-background: #27272a;
    --p-button-secondary-hover-background: #3f3f46;
    --p-button-secondary-active-background: #52525b;
    --p-button-secondary-border-color: #27272a;
    --p-button-secondary-hover-border-color: #3f3f46;
    --p-button-secondary-active-border-color: #52525b;
    --p-button-secondary-color: #d4d4d8;
    --p-button-secondary-hover-color: #e4e4e7;
    --p-button-secondary-active-color: #f4f4f5;

    /* button outlined */
    --p-button-outlined-primary-border-color: #27272a;

    /* input text  */
    --p-inputtext-background: #09090b !important;
    --p-inputtext-border-color: #18181b !important;
    --p-inputtext-hover-border-color: #18181b !important;
    --p-inputtext-focus-border-color: #18181b !important;
    --p-inputtext-color: #f4f4f5 !important;
    --p-inputtext-placeholder-color: #e4e4e7 !important;
    --p-inputtext-disabled-color: #e4e4e7 !important;

    /* chip */
    --p-chip-background: #27272a !important;
    --p-chip-color: #f4f4f5 !important;

    --p-paginator-background: #18181b !important;
    --p-paginator-color: #f4f4f5 !important;
  }

  p {
    @apply mb-4;
  }
}

@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  @apply text-zinc-950 dark:text-zinc-50;
}

.layout {
  @apply max-w-5xl mx-auto w-11/12;
}

@media (max-width: 1024px) {
  .layout {
    max-width: 100%;
    width: 96%;
  }
}

@media (max-width: 640px) {
  .layout {
    max-width: 100%;
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.font-rethink {
  font-family: 'Rethink Sans', sans-serif;
}

.control-group {
  @apply sticky top-0 z-[1] bg-zinc-50 dark:bg-zinc-950;
}

.tiptap-control-button--active {
  @apply outline outline-1 !outline-orange-400 bg-orange-400/[.15];
}

.tiptap-control-button {
  @apply outline outline-1 outline-zinc-600 text-white px-[8px] py-[6px] rounded-md bg-transparent border-0 cursor-pointer;
}

.tiptap-image-item {
  @apply min-h-[200px] object-cover max-w-full;
}

.tiptap-content {
  @apply border border-solid !border-zinc-50/[.2] rounded-lg px-5 py-4 focus:outline-none focus:!border-zinc-50/[.3] min-h-[100px];
}

.tiptap-content--error {
  @apply border border-solid border-red-300 rounded-lg px-5 py-4 focus:outline-none focus:border-red-300 min-h-[100px];
}

.tiptap-content--disabled {
  @apply border border-solid border-zinc-50/[.2] rounded-lg px-5 py-4 focus:outline-none focus:border-zinc-50/[.3] bg-[#3f3f46] min-h-[100px];
}

.btn-accept-dialog {
  @apply bg-orange-500 text-white px-5 py-2 rounded-md !border-none focus:outline-none hover:!bg-orange-500 hover:!text-white;
}

.btn-reject-dialog {
  @apply !text-white px-5 py-2 rounded-md !bg-transparent !border !border-zinc-50/[.2] focus:outline-none;
}

.p-paginator {
  @apply border border-solid border-zinc-950/[.05] dark:border-zinc-50/[.05] py-4 bg-transparent;
}

#toc {
  @apply border border-solid border-zinc-950/[.05] dark:border-zinc-50/[.05] py-4 px-3 rounded-md bg-transparent;
}

p {
  @apply mt-0 mb-[0.5rem] leading-[1.75rem];
}

ul>li>p {
  @apply mt-0 mb-[0.5rem] leading-[1.5rem];
}

.text-link {
  @apply font-light text-foreground cursor-pointer no-underline hover:text-orange-500 hover:underline;
}

.input-search {
  @apply w-full md:w-[32rem] !text-[12px] md:!text-base;
}

#toc ul {
  list-style-type: none;
  padding: 0;
  margin-top: 7px;
}

#toc li {
  margin-bottom: 7px;
}

#drawer-content-blog-toc {
  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 7px;
  }

  li {
    margin-bottom: 9px;
  }
}

.hr-border {
  @apply dark:border-zinc-50/[.10] border-zinc-950/[.10] border-x-0 border-t-0;
}

.hr-border-dashed {
  @apply border-b-zinc-950/[.15] dark:border-b-zinc-50/[.15] border-dashed border-t-0 border-x-0;
}

.nav-item {
  @apply py-3 px-2 font-rethink transition-colors cursor-pointer text-zinc-800 dark:text-zinc-50 no-underline hover:underline hover:text-orange-500 hover:dark:!text-orange-400;
}

.nav-container {
  @apply flex pointer-events-auto mt-8 px-3 rounded-lg bg-zinc-400/30 dark:bg-zinc-800/60 w-fit mx-auto text-base backdrop-blur-sm;
}

.text-head-highlight {
  @apply rounded-lg bg-gradient-to-r from-[#f97316] to-[#ef4444] dark:from-[#fb923c] dark:to-[#f87171];
}

.card-skill {
  @apply border border-solid border-zinc-950/[.15] dark:border-zinc-50/[.15] rounded-lg p-4 min-h-[200px] flex items-center justify-center flex-col gap-2;
}

.btn-float-back {
  @apply py-2 px-3 gap-2 rounded-md border border-solid !border-zinc-400/[.1] dark:!border-zinc-50/[.1] !bg-zinc-300/60 dark:!bg-zinc-800/60 flex items-center justify-center cursor-pointer backdrop-blur-sm;
}

.btn-float-toc {
  @apply py-2 px-3 gap-2 rounded-md border border-solid border-zinc-400/[.1] dark:border-zinc-50/[.1] bg-zinc-300/60 dark:bg-zinc-800/60 flex items-center justify-center cursor-pointer backdrop-blur-sm;
}

.fcc {
  @apply flex items-center justify-center;
}

.nav-switch-theme {
  @apply flex rounded-lg space-x-4 items-center text-[13px] bg-zinc-50/30 dark:bg-zinc-950/30 px-4 py-3 no-underline cursor-pointer;
}

.nav-mobile-item { 
  @apply flex rounded-lg space-x-4 items-center text-[13px] bg-zinc-50/30 dark:bg-zinc-950/30 px-4 py-3 no-underline cursor-pointer;
}

.nav-mobile-container {
  @apply p-3 rounded-lg border border-solid border-zinc-400/[.1] dark:border-zinc-50/[.1] bg-zinc-300/60 dark:bg-zinc-800/60 min-w-[300px] flex flex-col space-y-2 backdrop-blur-md;
}

.nav-btn-menu-mobile {
  @apply py-2 px-3 gap-2 rounded-md border border-solid border-zinc-400/[.1] dark:border-zinc-50/[.1] bg-zinc-300/60 dark:bg-zinc-800/60 flex items-center justify-center cursor-pointer backdrop-blur-md;
}

.nav-container-deep-menu {
  @apply flex justify-center pointer-events-auto space-x-4 min-w-[40%] mt-4 px-2 py-3 rounded-lg bg-zinc-400/30 dark:bg-zinc-800/60 w-fit mx-auto text-base backdrop-blur-md;
}

.nav-item-deep-menu {
  @apply flex flex-row items-center gap-3 bg-zinc-50/30 dark:bg-zinc-950/20 px-3 py-1.5 rounded-lg cursor-pointer;
}

/* test */